{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
              <div class="govuk-grid-row">

                <h1 class="govuk-heading-xl">PIP Appointee Prototypes</h1>

                <div class="govuk-grid-column-one-third">
                  <h2 class="govuk-heading-m">Archive</h2>
                  <p class="govuk-body">Prototypes created from January 2021 until June 2023</p>
                  <a href="index-old" class="govuk-button govuk-button">View</a>
                </div>

                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Latest work</h2>
                    <p class="govuk-body">Prototypes from August 2024 until present day</p>
                    <a href="index-work" class="govuk-button govuk-button">View</a>
                </div>
              </div>
            </main>
          </div>



    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
