{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
              <div class="govuk-grid-row">

                <h1 class="govuk-heading-xl">Latest work</h1>

                <div class="govuk-inset-text">
                  <p>For the latest representation of live, view the <a href="apply-for-pip/govuk/how-to-claim">end-to-end journey</a> (WIP).</p>
                </div>

                <!-- <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-m">July 2023</h2>
                  <span>
                    <strong class="govuk-tag govuk-tag--blue app-task-list__task-completed" id="preparingfood">Work in progress</strong>
                  </span>
                  <p class="govuk-body">Lastest version of prototype</p>
                  <a href="v14/intro-question" class="govuk-button govuk-button">View</a>
                </div> -->

                <hr>
                <br>

                <h2 class="govuk-heading-m">Team Buzzard appointee MVP - August 2024 - V1</h2>
                <strong class="govuk-tag govuk-tag--purple">Being worked on</strong>
                <br><br>
                <p>Creating a seperate journey for appointees to fill out their digital PIP2 in the invited digital journey.</p>
                <h3 class="govuk-heading-s">Changes include</h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Initiation email (WIP)</li>
                  <li>Before you start screens (WIP)</li>
                  <li>Task list</li>
                  <li>Question and review screens</li>
                  <li>Declaration and submission</li>
                  <li>Post submission emails (WIP)</li>
                </ul>

                <a href="apply-for-pip/welcome.html" class="govuk-button govuk-button">View</a>

                <hr>
                <br>


              </div>
            </main>
          </div>

    </div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->



{% endblock %}
